
/* h1{
    text-align: center;
    color: black;
}

.border{
    margin-left: 0%;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    color: black;
    background-color: aquamarine; */


    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        color: black;
       text-align: center;
    }
    .container1{
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    color: black;
    background-image: url(../public/testimonial-1.jpg);
    
    }

    .container2{
    background-image: url(../public/carousel-2.jpg);
    
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 10%;
    color: black;
    border: 5px;
    padding: 20px;
    margin-left: 20%;
     }
    .container3{
    align-items: end;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    color: black;
    background-image: url(../public/carousel-1.jpg);
     position: 
     }
    .container4{
    align-items: center;
    position: relative;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    color: black;
    background-image: url(../public/blog-2.jpg);
                }



    

